.addTaskMain{
    margin-left: 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1105px;
}

.addTastMainContent{
    margin-top: 64px;
}

.addTastMainButton{
    display: flex;
    justify-content: start;
    align-items: end;
}

.addTaskInputFields{
    width: 440px;
    height: 84px;
    gap: 4px;
    border: 0px ,0px ,1px ,0px;
}