.addTaskMain{
    margin-left: 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1105px;
    overflow: auto;
    max-height: calc(100vh - 180px);
}

.addTastMainContent{
    margin-top: 64px;
}

.addTastMainButton{
    display: flex;
    justify-content: start;
    align-items: end;
}

.addTaskInputFieldsMain{
    width: 440px !important;
    height: 84px !important;
    gap: 4px;
    border: none;
    font-size: 32px;
    padding: 16px 13px 0 13px;
}

.addTaskInputFieldsSub{
    width: 440px !important;
    height: 84px !important;
    gap: 4px;
    border: none;
    font-size: 19px;
    padding: 16px 12.5px 0 12.5px;
}

.addTaskTextArea{
    width: 440px !important;
    height: 84px !important;
    gap: 4px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
}

.addTaskTextArea::placeholder{
    color: rgb(209, 209, 209);
    font-size: 19px;
    font-weight: 400;
    padding: 16px 13px 0 13px;
    line-height: 22.8px;
}

.addTaskInputFieldsMain::placeholder {
    color: rgb(209, 209, 209);
    font-size: 32px;
    font-weight: 400;
    padding: 16px 13px 0 13px;
    line-height: 38.4px;
    width: 440px !important;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.addTaskInputFieldsSub::placeholder {
    color: rgb(209, 209, 209);
    font-size: 19px;
    font-weight: 400;
    padding: 16px 12.5px 0 12.5px;
    line-height: 22.8px;
    width: 440px !important;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.changeTextColor::placeholder{
    color: black
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1;
}

.dropdown-content label {
    display: block;
}

.dropdown-content label input[type="checkbox"] {
    margin-right: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.input-container {
    position: relative;
    display: inline-block;
}
  
.plus-symbol {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 32px;
    color: rgb(69.137.255)
}