* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: row-reverse;
    height: -webkit-fill-available;
    width: 456px;
    margin-left: 235px;
    box-shadow: 2px 7px 3px 0px rgba(0, 0, 0, 0.14);
}

#scrollLine {
    width: 24px;
    height: -webkit-fill-available;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

#contactButton {
    padding: 32px 49.5px 16px 49.5px;
}

#addContactButton {
    width: 357px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    color: white;
    padding: 16px 10px 16px 10px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    border: solid 1px rgba(69, 137, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .1s ease-out;

}

.buttonActive {
    border: solid 1px white !important;
    background-color: white !important;
    color: rgba(69, 137, 255, 1) !important;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.buttonActiveImg {
    content: url(/img/person_add_blue.png);
}

#addContactButton:hover {
    background-color: rgba(0, 93, 255, 1);
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.addnewContactActive {
    right: 0px !important;
}

.editContactActive {
    left: 0px !important;
}


#addNewContact {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -584px;
    width: 584px;
    height: -webkit-fill-available;
    border-radius: 30px 0px 30px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    transition: 250ms;
    z-index: 2;
}

#addNewContactFirstSection {
    height: 35.35%;
    background-color: rgba(0, 93, 255, 1);
    width: 100%;
    border-radius: 30px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addNewContactCloseButton {
    position: absolute;
    top: 31.24px;
    right: 31.24px;
}

#addNewContactCloseButton:hover {
    background-color: rgba(69, 137, 255, 1);
    border-radius: 53px;
}

#addNewContactFirstSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#addNewContactFirstSection h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: white;
}

#addNewContactFirstSection h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: white;
}

#addNewContactSecondSection {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
}

#contactInput {
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 32px;
}

.inputBox {
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(209, 209, 209, 1);

}

.inputBox input {
    font-family: "Open Sans", sans-serif;
    border: none;
    width: 355px;
    height: 35px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    color: black;
    outline: none;
    padding: 3px;
    background-color: white !important;
}

.inputBox input::placeholder {
    color: rgba(209, 209, 209, 1);
}

#inputDiv {
    gap: 24px;
}

#btnDiv {
    width: 365px;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#cancelButton img {
    transition: 100ms ease-in-out;
}


#cancelButton:hover img {
    content: url(/img/cancel_blue.png);
}

#cancelButton {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#cancelButton:hover {
    border: solid 3px rgba(69, 137, 255, 1);
    color: rgba(69, 137, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#cancelButton:active {
    border: solid 1px rgba(0, 93, 255, 1);
    color: rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#cancelButton:active img {
    content: url(/img/cancel_darkblue.png);
}

#createContactButton {
    border: solid 1px rgba(69, 137, 255, 1);
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
}

#createContactButton:hover {
    cursor: pointer;
    background-color: rgba(0, 93, 255, 1);
    border: solid 3px rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#createContactButton:active img {
    content: url(/img/check_blue.png);
}

#createContactButton:active {
    background-color: white;
    border: none;
    color: rgba(69, 137, 255, 1);
}

.blueborder {
    border-bottom: 1px solid rgba(69, 137, 255, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}

.blurBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.458);
    z-index: 1;
}

.d-none {
    display: none;
}

#editContact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -584px;
    width: 584px;
    height: -webkit-fill-available;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    transition: 250ms;
    z-index: 2;
}

#editContactFirstSection {
    height: 35.35%;
    background-color: rgba(0, 93, 255, 1);
    width: 100%;
    border-radius: 0px 30px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editContactFirstSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#editContactFirstSection h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: white;
}

#editContactFirstSection h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: white;
}

.backgroundWhite {
    background-color: white;
}

#editSecondSectione {
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    border-radius: 0px 0px 30px 30px;
}

#safeButton {
    border: solid 1px rgba(69, 137, 255, 1);
    border-radius: 10px;
    background-color: rgba(69, 137, 255, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 50px;
    transition: 100ms ease-in-out;
}

#safeButton:hover {
    cursor: pointer;
    background-color: rgba(0, 93, 255, 1);
    border: solid 1px rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#safeButton:active img {
    content: url(/img/check_blue.png);
}

#safeButton:active {
    background-color: white;
    border: none;
    color: rgba(69, 137, 255, 1);
}

#deleteButton {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 106px;
    height: 60px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#deleteButton:hover {
    border: solid 3px rgba(69, 137, 255, 1);
    color: rgba(69, 137, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#deleteButton:active {
    border: solid 1px rgba(0, 93, 255, 1);
    color: rgba(0, 93, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#contacts {
    position: absolute;
    width: auto;
    height: auto;
    left: 700px;
    top: 145px;
    padding: 72px 0 0 62px;
    gap: 21px;
    display: flex;
    flex-direction: column;

}

#whiteCircle {
    border-radius: 70px;
    width: 120px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}

#initials {
    border-radius: 70px;
    width: 112px;
    height: 112px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initials h1 {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: white;
}

#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

#nameAndEditButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

#nameAndEditButton h1 {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
}

#editDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

#editDiv p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

#edit, #delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

#edit:hover {
    cursor: pointer;
    color: rgba(0, 93, 255, 1);
    line-height: 19.2px;
    font-weight: 700;;

}

#edit:hover img {
    content: url(/img/edit_dark.png);
}

#delete:hover img {
    content: url(/img/delete_dark.png);
}


#delete:hover{
    cursor: pointer;
    color: rgba(0, 93, 255, 1);
    line-height: 19.2px;
    font-weight: 700;;
} 

#contactInformation h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
}

#contactContent {
    display:flex;
    flex-direction: column;
    gap: 22px;
}

#emailBox, #phoneBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#emailBox h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

#phoneBox h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

