.imprintHeadlineContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px !important;
  margin-bottom: 48px !important;
  width: -webkit-fill-available;
  padding-right: 120px;
}

.imprintHeadline {
  font-size: 61px;
  font-weight: 700;
}

.imprintBack {
  width: 37px;
  height: 37px;
  margin-right: 8px;
  cursor: pointer;
}

.imprintBack:hover {
  opacity: 0.7;
  border-radius: 50%;
  background-color: rgba(69, 137, 255, 0.2);
}

.imprintMain {
  margin-left: 320px !important;
  overflow: auto;
  max-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.imprintSubHeadline {
  color: rgb(69, 137, 255);
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 33px;
}

.imprintContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-left: 8px;
  width: -webkit-fill-available;
  padding-right: 120px;
}

.imprintHeader {
  color: rgb(69, 137, 255);
  display: flex;
  text-align: start;
  font-weight: 700;
  font-size: 19px;
}

td {
  font-weight: 400;
  font-size: 16px;
}

mark {
  background-color: transparent;
  color: rgb(69, 137, 255);
}

.backgroundColorLegal {
  background-color: rgba(69, 137, 255, 1);
  color: white;
  border-radius: 10px;
  display: flex;
  width:fit-content;
  justify-content: start;
  align-items: center;
}