  <div class="header">
    <a href="/login.html"><img src="./img/header_logo.png" alt="logo" /></a>
    <div class="headerDiv1">
      <span>Kanban Project Management Tool</span>
      <div class="headerDiv2">
        <a href="/help.html"><img id="helpButton" src="/img/help.png" alt="help" /></a>
        <img
          id="profileImage"
          src="/img/user_profile_header.png"
          alt="profile"
          onclick="showLogOut()"
        />
      </div>
    </div>
  </div>
<div class="logOutContainer" id="logOutContainer">
  <a href="/imprint.html" >Legal Notice</a>
  <a href="/dataProtection.html" >Privacy Policy</a>
  <a href="/login.html" >Log out</a>
</div>