<div id="menuTemplate">
  <div id="menu">

    <a href="/summary.html">
      <button class="menuBtn" id="summaryBtn">
        <img src="/img/summaryIcon.png" alt="" />Summary
      </button>
    </a>

    <a href="/addTask.html">
      <button class="menuBtn " onclick="activeColorBtn()">
        <img src="/img/addTaskIcon.png" alt="" />Add Task
      </button>
    </a>


    <a href="/board.html">
      <button class="menuBtn" id="boardBtn">
        <img src="/img/boardIcon.png" alt="" />Board
      </button>
    </a>

    <a href="/contacts.html">
      <button class="menuBtn" id="contactBtn">
        <img src="/img/contactIcon.png" alt="" />Contacts
      </button>
    </a>

  </div>

  <div id="legal">
    <a href="/dataProtection.html"><button id="privacyBtn">Privacy Policy</button></a>
    <a href="/imprint.html"><button id="legalBtn">Legal notice</button></a>
  </div>
</div>
