<div id="menuTemplate">
  <div id="menu">
    <a href="summary.html" class="menuBtn" id="summaryBtn">
      <img src="img/summaryIcon.png" />Summary
    </a>

    <a href="addTask.html" class="menuBtn" id="addTaskButton">
      <img src="img/addTaskIcon.png" />Add Task
    </a>

    <a href="board.html" class="menuBtn" id="boardBtn">
      <img src="img/boardIcon.png" />Board
    </a>

    <a href="contacts.html" class="menuBtn" id="contactBtn">
      <img src="img/contactIcon.png" />Contacts
    </a>
  </div>

  <div id="menuTemplate" class="loginMenuAside">
    <div id="legal" class="loginLegal">
      <a id="dataProtection" href="dataProtection.html" target="_blank" class="legalPolicyBtn"
        >Privacy Policy</a
      >
      <a id="imprint" href="imprint.html" target="_blank" class="legalPolicyBtn"
        >Legal notice</a
      >
    </div>
  </div>
</div>
