<div id="menuTemplate">
  <div id="menu">
    <button class="menuBtn p-summary">
      <img src="/img/summaryIcon.png" alt="" />Summary
    </button>
    <button class="menuBtn gap20">
      <img src="/img/addTaskIcon.png" alt="" />Add Task
    </button>
    <button class="menuBtn gap20">
      <img src="/img/boardIcon.png" alt="" />Board
    </button>
    <button class="menuBtn gap20">
      <img src="/img/contactIcon.png" alt="" />Contacts
    </button>
  </div>

  <div id="legal">
    <button id="privacyBtn">Privacy Policy</button>
    <button id="legalBtn">Legal notice</button>
  </div>
</div>
